<% #TODO: Change questions.slug to null:false %>
<% #TODO: Does calling @question.answers multiple times make multiple queries %>
<% #TODO: Remove div %>
<br>
<h3>Question</h3>
<h2><%= @question.title %></h2>
<p style="margin: 10px"><%= @question.body%></p>

<% @question.tags.each do |tag| %>
  <%= tag.name %>
<% end %>

<% length = @question.answers.length %>
<h3><%= length %> Answer<%= "s" unless length == 1 %></h3>

<ul id="answers">
  <% @question.answers.each do |answer| %>
    <li><a id="<%= answer.id %>"></a><%= answer.response %></li>
  <% end %>
</ul>

<h3>Add an Answer</h3>
<form method="post" action="<%= question_answers_url(@question.id) %>">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <textarea cols="80" rows="8" name="answer[response]"></textarea>

  <br>
  <input type="submit">

</form>

<div style="height: 2000px">