<% # TODO: Look at answer.response's stripper again; Currently line 23 %>
<% # TODO: Hard coded in the number of answers and questions to print %>
<% # TODO: Maybe give users the option to display their email address %>


<% header_title, body_text = self.current_user.id == params[:id].to_i ? ["Your", "You have"] : ["#{self.current_user.name}'s", "#{self.current_user.name} has"] %>


<% if self.current_user.id == params[:id].to_i %>
  <%= render "profile" %>
<% end %>

<br>
<h2><%= header_title %> recent questions</h2>
<% if @user.questions.length == 0 %>
  <%= "#{body_text} not asked any questions"%>
<% else %>
  <ul>
    <% @user.questions[0..4].each do |question| %>
      <li><%= question.title %></li>
    <% end %>
  </ul>
<% end %>

<br>
<h2><%= header_title %> recent answers</h2>
<% if @user.answers.length == 0 %>
  <%= "#{body_text} not answered any questions"%>
<% else %>
  <ul>
    <% n = 15 %>
    <% @user.answers[0..4].each do |answer| %>
      <li><%= answer.response.split(/\s+/, n+1)[0...n].join(' ') %></li>
    <% end %>
  </ul>
<% end %>