<% # TODO: Look at answer.response's stripper again; Currently line 23 %>
<% # TODO: Hard coded in the number of answers and questions to print %>
<% # TODO: Maybe give users the option to display their email address %>


<% header_title, body_text = self.current_user.id == params[:id].to_i ? ["Your", "You have"] : ["#{@user.name}'s", "#{@user.name} has"] %>


<% if self.current_user.id == params[:id].to_i %>
  <%= render "profile" %>
<% end %>

<br>
<h2><%= header_title %> recent questions</h2>
<% if @user.questions.length == 0 %>
  <%= "#{body_text} not asked any questions"%>
<% else %>
  <ul class="user-show">
    <% @user.questions[0..4].each do |question| %>
      <li><a href="<%= question_url(question.id) %>"><%= question.title %></a></li>
    <% end %>
  </ul>
<% end %>

<br>
<h2><%= header_title %> recent answers</h2>
<% if @user.answers.length == 0 %>
  <%= "#{body_text} not answered any questions"%>
<% else %>
  <ul class="user-show">
    <% n = 15 %>
    <% @user.answers[0..4].each do |answer| %>
      <li><a href="<%= answer_url(answer.id) %>"><%= answer.response.split(/\s+/, n+1)[0...n].join(' ') %></a></li>
    <% end %>
  </ul>
<% end %>