<!DOCTYPE html>
<html>
<head>
  <title>WisdomCrowd</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="header">
    <%= flash[:notice] %>
    <%= button_to "Sign Out", session_url, method: "delete" if current_user %>
    <button>Ask a question</button>
  </div>



  <div id="content">
    <%= yield %>
  </div>

</body>
</html>
