<!DOCTYPE html>
<html>
<head>
  <title>WisdomCrowd</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>


</head>
<body>
  <div id="header">
    <%= flash[:notice] %>
    <%= button_to "Sign Out", session_url, method: "delete" if current_user %>

    <!-- <form method="post" action="<%= %>">
      <button>Ask a question</button>
    </form> -->
      <% unless "#{request.protocol}#{request.host_with_port}#{request.fullpath}" == new_question_url %>
      <%= button_to "Ask a question", new_question_url, method: "get" %>
      <% end %>
  </div>



  <div id="content">
    <%= yield %>
  </div>

</body>
</html>
