<!DOCTYPE html>
<html>
<head>
  <title>Darnedest Things - a Quora Clone</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>


</head>
<body>

<header id='image'>
<img src='../images/logo02.png' alt="Darnedest Things <em>People</em> say the darn<em>e</em>dest things!">

<div class='clf'></div>
<br>

<% stored_current_user = current_user %>
	<nav>
		<ul class='clf'>
			<li> <a href="<%= tags_url %>">Tags</a></li>
			<li> <a href="<%= questions_url %>">Questions</a></li>
			<li> <a href="<%= users_url %>">People</a></li>
			<%= "<li> <a href=' #{user_url(stored_current_user)} '>Your Profile</a></li>".html_safe if stored_current_user %>
		</ul>
    <%= render "searches/mini_form" %>
    <br>
    <a href="<%= new_search_url %>">Advanced search</a>
	</nav>
</header>



  <% unless [new_question_url, new_session_url, new_user_url].include? "#{request.protocol}#{request.host_with_port}#{request.fullpath}" %>
    <div id="new-question">
    <%= link_to "Ask a question", new_question_url %>
    </div>
  <% end %>


  <div id="toggle-session">
    <% if stored_current_user %>
      <%= button_to "Sign Out", session_url, method: "delete"  %>
    <% else %>
      <%= button_to "Sign In", new_session_url , method: "get" %>
    <% end %>
  </div>

  <div id="content">
    <div id="header" class="clf">
      <%= flash[:notice] %>



      <!-- <form method="post" action="<%= %>">
        <button>Ask a question</button>
      </form> -->




    </div>

    <%= yield %>
  </div>

</body>
</html>
