<% # TODO: If you're working with precompiled templates, you don't need to ship the compiler with your deployed application. Instead, you can use the smaller "runtime" build. http://handlebarsjs.com/precompilation.html (handlebars, ember)
  # TODO: Login, logout buttons, and ask a question

%>

<!DOCTYPE html>
<html>
<head>
  <title>WisdomCrowd</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script type="text/x-handlebars" data-template-name="application">
  <header id='image'>
  <img src='images/1381563908_gossip_birds.png'>
  <h1>Darnedest Things</h1>

  <div class='clf'></div>
  <h2><em>People</em> say the darn<em>e</em>dest things!</h2>

  	<nav>
  		<ul class='clf'>
  			<li>{{#linkTo "tags"}}Tags{{/linkTo}}</li>
  			<li>{{#linkTo "questions"}}Questions{{/linkTo}}</li>
  			<li>{{#linkTo "users"}}People{{/linkTo}}</li>
  			<li>Your Profile</li>
  			<li>Ask a Question</li>
  		</ul>
  	</nav>
  </header>


<div id="content">
  {{outlet}}

</div>
  </script>
  
  
  
  
  
  <!-- Questions -->
  
  

  <!-- // TODO: Set it to retrieveCurrentUser -->
  
  <script type="text/x-handlebars" data-template-name="questions/oldnew">

  <h1>New question</h1>
  Title
  {{input type="text" value=title}}
  {{input type="hidden" value=1  }}
  <br>
  Body
   <br>
  {{textarea cols="100" rows="20" value=body}}
  <br>
  <button {{action save}}>Save</button>
  </script>
  
  <script type="text/x-handlebars" data-template-name="questions/new">

  <h1>New question</h1>
  Title
  {{input type="text" value=title}}
  {{input type="hidden" value=1  }}
  <br>
  Body
   <br>
  {{textarea cols="100" rows="20" value=body}}
  <br>
  <button {{action save}}>Save</button>
  </script>

  <script type="text/x-handlebars" data-template-name="questions/question">
  <h1>One question</h1>

  <section id="question">
  {{title}}
  {{user.name}}
  </section>

   <section id="answers">
   {{#each answer in content.answers}}
   I am inside
   <article>
     {{answer.response}}
   </article>
   {{/each}}
   </section>
  </script>

 
  
  <script type="text/x-handlebars" data-template-name="questions">
  <h1>Questions Header</h1>

  {{outlet}}


  </script>
  
   <script type="text/x-handlebars" data-template-name="questions/index">
  <h1>Questions Index</h1>

  {{#each item in model}}
    <li>{{#linkTo "questions.question" item.id}} {{item}} {{/linkTo}}</li>
  {{/each}}

  </script>

  <script type="text/x-handlebars" data-template-name="index">
  <h1>Welcome</h1>

  {{outlet}}


  </script>


  <!-- Users -->

  <script type="text/x-handlebars" data-template-name="users">
  <h1>Users Header</h1>

  {{outlet}}
  
  </script>
  
  <script type="text/x-handlebars" data-template-name="users/index">
  <h1>Users Index</h1>

  {{#each item in model}}
    <li>{{#linkTo "users.user" item.id}} {{item}} {{/linkTo}}</li>
  {{/each}}

  </script>

  <script type="text/x-handlebars" data-template-name="users/user">
  <h1>One user</h1>
  {{name}}
  </script>

  <!-- Tags -->

  <script type="text/x-handlebars" data-template-name="tags">
  <h1>Tags Header</h1>
  {{outlet}}

  </script>
  
  
  <script type="text/x-handlebars" data-template-name="tags/index">
  <h1>Tags Index</h1>
  {{content}}
  {{#each item in model}}
    <li>{{#linkTo "tags.tag" item.id}} {{item}} {{/linkTo}}</li>
  {{/each}}

  </script>

  <script type="text/x-handlebars" data-template-name="tags/tag">
  <h1>{{name}}</h1>

  <section id="question-stream">


  {{#each question in content.questions}}
  <li>{{#linkTo "questions.question" question.id}} {{question.title}} {{/linkTo}}
  By {{user.name}}</li>
  {{/each}}

    </section>
  </script>







    <%#= flash[:notice] %>
    <%#= button_to "Sign Out", session_url, method: "delete" if current_user %>

    <!-- <form method="post" action="<%= %>">
      <button>Ask a question</button>
    </form> -->

      <%# unless [new_question_url, new_session_url, new_user_url].include? "#{request.protocol}#{request.host_with_port}#{request.fullpath}" %>
      <%#= button_to "Ask a question", new_question_url, method: "get" %>
      <%# end %>




  <!-- <div id="content">
=======
    <%#= flash[:notice] %>
    <%#= button_to "Sign Out", session_url, method: "delete" if current_user %>

    <!-- <form method="post" action="<%= %>">
      <button>Ask a question</button>
    </form> -->

      <%# unless [new_question_url, new_session_url, new_user_url].include? "#{request.protocol}#{request.host_with_port}#{request.fullpath}" %>
      <%#= button_to "Ask a question", new_question_url, method: "get" %>
      <%# end %>



</body>
</html>
