<!DOCTYPE html>
<html>
<head>
  <title>WisdomCrowd</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>


</head>
<body>

<header>
<%#= asset_path %>
<img src='../images/1381563908_gossip_birds.png'>
</header>

<header  class='clf'>
	<section>
	<h2><em>People</em> say the darn<em>e</em>dest things!</h2>
	</section>
	<nav>
		<ul class='clf'>
			<li> Tags</li>
			<li> Questions</li>
			<li> People</li>
			<li> Your Profile</li>
		</ul>
	</nav>
</header>
<aside id='sidebar'>
	People you are following
	Questions you are following

</aside>

  <div id="header">
    <%= flash[:notice] %>
    <%= button_to "Sign Out", session_url, method: "delete" if current_user %>

    <!-- <form method="post" action="<%= %>">
      <button>Ask a question</button>
    </form> -->
	
      <% unless [new_question_url, new_session_url, new_user_url].include? "#{request.protocol}#{request.host_with_port}#{request.fullpath}" %>
      <%= button_to "Ask a question", new_question_url, method: "get" %>
      <% end %>
  </div>



  <div id="content">
    <%= yield %>
  </div>

</body>
</html>
