<% # TODO: If you're working with precompiled templates, you don't need to ship the compiler with your deployed application. Instead, you can use the smaller "runtime" build. http://handlebarsjs.com/precompilation.html (handlebars, ember)
  # TODO: Login, logout buttons, and ask a question

%>

<!DOCTYPE html>
<html>
<head>
  <title>WisdomCrowd</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>


  <!-- // <script type="text/javascript" src="lib/ember-model-latest.js"></script>
  // <link rel="stylesheet" type="text/css" href="stylesheet.css">
  // <script type="text/javascript" src="app.js"></script>
  // <script type="text/javascript" src="router.js"></script>
  // <script type="text/javascript" src="models/question_model.js"></script>
  // <script type="text/javascript" src="models/tag_model.js"></script>
  // <script type="text/javascript" src="models/answer_model.js"></script>
  // <script type="text/javascript" src="models/user_model.js"></script>
  // <script type="text/javascript" src="controllers/questions_controller.js"></script>
  // <script type="text/javascript" src="controllers/question_controller.js"></script>
  //
  // <script type="text/javascript" src="routes/questions_route.js"></script>
  // <script type="text/javascript" src="routes/answers_route.js"></script>
  // <script type="text/javascript" src="routes/users_route.js"></script>
  // <script type="text/javascript" src="routes/tags_route.js"></script>
  // <script type="text/javascript" src="alert_view.js"></script> -->

  <script type="text/x-handlebars" data-template-name="application">
  <header id='image'>
  <img src='1381563908_gossip_birds.png'>
  <h1>Darnedest Things</h1>

  <div class='clf'></div>
  <h2><em>People</em> say the darn<em>e</em>dest things!</h2>

  	<nav>
  		<ul class='clf'>
  			<li>{{#linkTo "tags"}}Tags{{/linkTo}}</li>
  			<li>{{#linkTo "questions"}}Questions{{/linkTo}}</li>
  			<li>{{#linkTo "users"}}People{{/linkTo}}</li>
  			<li>Your Profile</li>
  			<li>Ask a Question</li>
  		</ul>
  	</nav>
  </header>


<div id="content">
  {{outlet}}
  <%= yield %>

</div>
  </script>

  <script type="text/x-handlebars" data-template-name="question">
  <h1>One question</h1>

  <section id="question">
  {{title}}
  {{user.name}}
  </section>
  </script>

  <script type="text/x-handlebars" data-template-name="questions">
  <h1>Questions Index</h1>

  {{#each item in model}}
    <li>{{#linkTo "question" item.id}} {{item}} {{/linkTo}}</li>
  {{/each}}


  </script>



  <!-- Users -->

  <script type="text/x-handlebars" data-template-name="users">
  <h1>Users Index</h1>

  {{#each item in model}}
    <li>{{#linkTo "user" item.id}} {{item}} {{/linkTo}}</li>
  {{/each}}

  </script>

  <script type="text/x-handlebars" data-template-name="user">
  <h1>One user</h1>
  {{name}}
  </script>

  <!-- Tags -->

  <script type="text/x-handlebars" data-template-name="tags">
  <h1>Tags Index</h1>
  {{content}}
  {{#each item in model}}
    <li>{{#linkTo "tag" item.id}} {{item}} {{/linkTo}}</li>
  {{/each}}

  </script>

  <script type="text/x-handlebars" data-template-name="tag">
  <h1>One tag</h1>
  {{name}}
  </script>







    <%#= flash[:notice] %>
    <%#= button_to "Sign Out", session_url, method: "delete" if current_user %>

    <!-- <form method="post" action="<%= %>">
      <button>Ask a question</button>
    </form> -->

      <%# unless [new_question_url, new_session_url, new_user_url].include? "#{request.protocol}#{request.host_with_port}#{request.fullpath}" %>
      <%#= button_to "Ask a question", new_question_url, method: "get" %>
      <%# end %>




  <!-- <div id="content">
=======
    <%#= flash[:notice] %>
    <%#= button_to "Sign Out", session_url, method: "delete" if current_user %>

    <!-- <form method="post" action="<%= %>">
      <button>Ask a question</button>
    </form> -->

      <%# unless [new_question_url, new_session_url, new_user_url].include? "#{request.protocol}#{request.host_with_port}#{request.fullpath}" %>
      <%#= button_to "Ask a question", new_question_url, method: "get" %>
      <%# end %>



</body>
</html>
